{% extends 'app/announcement_detail.html' %}

{% load app_tags %}

{% block page_title %}&mdash; Document Requests &mdash; {{ object_detail.title }}{% endblock %}

{% block extra_app_body %}
<div class="row">
  <form action="" method="post" enctype="multipart/form-data" class="document-form">
    <fieldset>
      <div class="page-header">
        <h1>Upload Document</h1>
      </div>

      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="form-group">
        {{ form.document.errors }}
        <label for="{{ form.document.id_for_label }}">{{ form.document.label }}(s)</label>
        {% for i in object_detail.upload_quantity|as_range %}
          <input id="id_document_{{ i }}" name="document_{{ i }}" type="file">
        {% endfor %}
      </div>

      <button type="submit" class="btn btn-primary">Upload</button>
    </fieldset>
  </form>
</div>
{% endblock %}
