{% extends 'app/post_announcement.html' %}

{% block page_title %}&mdash; Post Document Request{% endblock %}

{% block form_header %}<h1>Post Document Request</h1>{% endblock %}

{% block extra_fields %}
<div class="form-group">
  {{ form.document_type.errors }}
  <label for="{{ form.document_type.id_for_label }}">{{ form.document_type.label }}</label>
  {{ form.document_type }}
</div>

<div class="form-group">
  {{ form.upload_quantity.errors }}
  <label for="{{ form.upload_quantity.id_for_label }}">{{ form.upload_quantity.label }}</label>
  {{ form.upload_quantity }}
</div>
{% endblock %}
