{% extends 'home.html' %}

{% block page_title %}&mdash; Post Announcement{% endblock %}

{% block extra_js %}
<script src="http://cdn.tinymce.com/4/tinymce.min.js"></script>
<script>tinymce.init({ selector: 'textarea' });</script>
{% endblock %}

{% block app_body %}
<div class="mid width-90">
  <div class="row">
    <form action="" method="post">
      <fieldset>
        <div class="page-header">
          {% block form_header %}<h1>Post Announcement</h1>{% endblock %}
        </div>

        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form-group">
          {{ form.title.errors }}
          <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
          {{ form.title }}
        </div>

        {% block extra_fields %}{% endblock %}

        <div class="form-group">
          {{ form.body.errors }}
          <label for="{{ form.body.id_for_label }}">{{ form.body.label }}</label>
          {{ form.body }}
        </div>
        
        <button type="submit" class="btn btn-primary">Post</button>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
