{% if not user.is_authenticated %}
  <div class="row">
    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="btn btn-primary btn-lg mid login" role="button">
      Login With Google
    </a>
  </div>
{% else %}
  {% if not user.usertype.user_type %}
    <div class="row">
      <div class="jumbotron welcome">
        <h1>Hello, {{ user.get_full_name }}.</h1>
        <form action="" method="post">
          {% csrf_token %}
          <p>
            What are you?
            {% for radio in form.user_type %}
              {{ radio }}
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-lg">Tell Us</button>
          </p>
        </form>
      </div>
    </div>
  {% endif %}
{% endif %}
