{% extends 'base.html' %}

{% block app_body %}
  <div class="row">
    {% with user=request.user %}
      {% if user and not user.is_anonymous %}
        <div class="jumbotron mid welcome">
          <h1>Hello, {{ user.get_full_name }}.</h1>
          <p>What are you? Student or Teacher</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
      {% else %}
      <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="btn btn-primary btn-lg mid login" role="button">
        Login With Google
      </a>
      {% endif %}
    {% endwith %}
  </div>
{% endblock %}
