html, body {
  /* font-family: 'Open Sans Condensed', sans-serif; */
  font-family: 'Abel', sans-serif;
  /* font-size: 105%; */
}
.header {
  margin-bottom: 0;
  border-radius: 0;
}
.login {
  display: block;
  width: 10em;
  margin-top: 10em !important;
}
.mid {
  margin: 0 auto;
}
.welcome {
  margin-top: 3em !important;
}
.width-90 {
  width: 90%;
}
form {
  padding-bottom: 3em;
}
.document-form input {
  margin-bottom: 10px;
}

/* Home Page */
.plus-spacer {
  margin-right: .3em;
}
.feed h2 {
  font-size: 125%;
}
.documents {
  margin-top: 10px;
}
.document {
  border: solid 1px #eee;
  margin-bottom: 30px;
  padding: 1em;
  border-radius: 5px;
}
.document .icon-name {
  margin-bottom: 10px;
}
.document ul {
  font-size: 80%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.document ul li {
  background: #f5f5f5;
  text-align: right;
  display: block;
  width: 100%;
  padding: .1em .4em;
}
.document ul li:hover {
  background: #eee;
}
.document ul li:first-child {
  margin-bottom: 10px;
}

.documents a {
  /* height: 150px; */
  display: block;
}
.download-all {
  margin-bottom: 50px;
}
.download-all a {
  font-weight: bold;
  font-size: 150%;
}

/* Messages */
.messages,
.messages li {
  margin: 0;
  padding: 0;
}
.messages li.success {
  color: green;
}
.messages {
  list-style: none;
  background: #e7e7e7;
  font-weight: bold;
}
.messages li {
  padding: .5em 0 .5em .5em;
}

/* Discuss */
.alu-table tbody tr td {
  border-top: none;
  border-bottom: 1px solid #eee;
}
.alu-table tbody tr td.post-title {
  width: 92.3%;
}
.date-created {
  cursor: default;
  text-transform: capitalize;
}
.topic .date-created {
  text-align: right;
}
.new-topic {
  display: inline-block;
  margin-left: 80.4%;
  font-size: 60%;
}
.topic, .comment {
  margin-bottom: 20px;
  border-bottom: solid 1px #ddd;
  padding-bottom: 20px;
}
.topic .name {
  margin-bottom: 1em;
}
.pic {
  height: 5em;
  width: 5em;
  background: #ddd;
  border-radius: 50%;
}
.description {
  letter-spacing: .05em;
  word-spacing: .1em;
  font-size: 90%;
}

/* Announcement */
.post {
  min-height: 300px;
}
