.header {
  margin-bottom: 0;
}

.login {
  display: block;
  width: 10em;
  margin-top: 10em !important;
}
.mid {
  margin: 0 auto;
}
.welcome {
  width: 90%;
  margin-top: 3em !important;
}
.import-form {
  width: 50%;
}
.announcement-form {
  width: 90%;
  margin-bottom: 5em;
}

/* Messages */
.messages,
.messages li {
  margin: 0;
  padding: 0;
}
.messages li.success {
  color: green;
}
.messages {
  list-style: none;
  background: #e7e7e7;
  font-weight: bold;
}
.messages li {
  padding: .5em 0 .5em .5em;
}
