html, body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 105%;
}
.header {
  margin-bottom: 0;
  border-radius: 0;
}
.login {
  display: block;
  width: 10em;
  margin-top: 10em !important;
}
.mid {
  margin: 0 auto;
}
.welcome {
  margin-top: 3em !important;
}
.import-form {
  width: 50%;
}
.width-90 {
  width: 90%;
}
form {
  padding-bottom: 3em;
}
.feed h2 {
  font-size: 125%;
}

/* Messages */
.messages,
.messages li {
  margin: 0;
  padding: 0;
}
.messages li.success {
  color: green;
}
.messages {
  list-style: none;
  background: #e7e7e7;
  font-weight: bold;
}
.messages li {
  padding: .5em 0 .5em .5em;
}

/* Discuss */
.alu-table tbody tr td {
  border-top: none;
  border-bottom: 1px solid #eee;
}
.alu-table tbody tr td.post-title {
  width: 94.2%;
}
.alu-table tbody tr td.date-created {
  cursor: default;
}
.new-topic {
  display: inline-block;
  margin-left: 85%;
  font-size: 60%;
}
